<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.personalhealthmanagement" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".CaloriesMain"
            android:label="@string/title_activity_calories_main" >
        </activity>
        <activity
            android:name=".PersonalInfo"
            android:label="@string/title_activity_personal_info" >
        </activity>
        <activity
            android:name=".PlotActivity"
            android:label="@string/title_activity_simple_xyplot" >
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".UserPreference"
            android:label="@string/title_activity_user_preference" >
        </activity>

        <service
            android:name=".MySensorDataService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SleepManagement"
            android:label="@string/title_activity_sleep_management" >
        </activity>
        <activity
            android:name=".PhotoManager"
            android:label="@string/title_activity_photo_manager" >
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:label="@string/title_activity_photo_manager" >
        </activity>
        <service
            android:name=".NetworkService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
